@import url("https://fonts.googleapis.com/css?family=Fjalla One")
@import url("https://fonts.googleapis.com/css?family=Comfortaa")
@import url("https://fonts.googleapis.com/css?family=Quicksand")

$fonts-Fjalla: "Fjalla One"
$fonts-Comfortaa: "Comfortaa"
$fonts-Quicksand: "Quicksand", sans-serif
$color-white: #ffffff
$color-black: #000000
$color-greenButton: #16a085
$color-grayBackground: #f5f6f7
$color-brown: #252626
$color-lightGreenButton: #1abc9c

*
	padding: 0
	margin: 0
	box-sizing: border-box

.col-centered
	display: flex
	align-items: center
	justify-content: center
	flex-direction: column

.container
	width: 100%
	max-width: 1280px
	margin: 0 auto

.jumbotron
	background-image: url("../images/01. header.png")
	height: 100%
	max-height: 900px
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	overflow: hidden
	border-radius: 0 !important
	margin-bottom: 0 !important
	
	.container
		h1,
		p
			color: $color-white
			text-align: center
			text-transform: capitalize
			font-family: $fonts-Comfortaa

		h1
			margin-top: 150px

		.btn-success, .btn-success:hover, .btn-success:active, .btn-success:visited
			margin-top: 20px
			background-color: $color-greenButton
			border-color: $color-greenButton
			font-family: $fonts-Quicksand
			text-transform: uppercase
			font-size: 12px
			font-weight: bold
			letter-spacing: 3px

		.navbar
			display: flex
			justify-content: space-around
					
			.navbar-nav
				list-style-type: none
				
				.nav-item
					padding: 0 50px

					a
						text-transform: capitalize
						color: $color-white
						font-family: $fonts-Fjalla
						font-size: 20px
						line-height: 100px

		.media
			.row
				text-align: center
				margin-top: 200px

				.icon
					color: $color-white
					margin: 0 10px

.phoneInHand
	background-color: $color-grayBackground
	.container
		.left-side
			margin-top: 50px

			.btn-success, .btn-success:hover, .btn-success:active, .btn-success:visited
				margin-top: 20px
				background-color: $color-greenButton
				border-color: $color-greenButton
				font-family: $fonts-Quicksand
				text-transform: uppercase
				font-size: 12px
				font-weight: bold
				letter-spacing: 3px
				margin-bottom: 50px

			.shape
				shape-outside: polygon(400px 0px, 400px 400px, 100px 400px, 100px 320px)
				width: 400px
				height: 400px
				float: right

		h2,
		p
			color: $color-black
			text-transform: capitalize
			font-family: $fonts-Comfortaa

		p
			margin-top: 50px

		.row
			display: flex
			align-items: flex-end

.greenPhone
	.container
		.row
			margin-top: 100px
			display: flex
			align-items: flex-end

			.right-side
				h2,
				p
					color: $color-black
					text-transform: capitalize
					font-family: $fonts-Comfortaa

				p
					margin-top: 50px

				.btn-success, .btn-success:hover, .btn-success:active, .btn-success:visited
					margin-top: 20px
					background-color: $color-greenButton
					border-color: $color-greenButton
					font-family: $fonts-Quicksand
					text-transform: uppercase
					font-size: 12px
					font-weight: bold
					letter-spacing: 3px
					margin-bottom: 30px

				.counter
					margin-bottom: 100px
					
				.pager
					float: left
					margin-top: 0 !important
					font-family: $fonts-Quicksand
					letter-spacing: 3px

					.chevrons
						a
							padding: 0 3px
							margin-bottom: 20px

.ourCommunity
	background-color: $color-grayBackground
	padding: 75px 0

	.container
		.row
			.chevrons
				margin-top: 50px
				float: right

			.col-md-8
				.carousel-inner
					.active.left 
						left: -50%

				.carousel-inner
					.next
						left:  50%

				.carousel-inner
					.prev
						left: -50%

				.carousel-control.left,
				.carousel-control.right
					background-image: none

.subscription
	.jumbotron
		background-image: url("../images/05. background.png")
		height: 100%
		max-height: 900px
		background-position: center
		background-repeat: no-repeat
		background-size: cover
		overflow: hidden
		border-radius: 0 !important
		margin-bottom: 0 !important

		.form
			display: flex
			align-items: center
			flex-direction: column
			margin: 300px 0 450px 0

			h1
				color: $color-white
				text-transform: capitalize
				font-family: $fonts-Comfortaa
				margin-bottom: 20px

			.row
				.subscriptionField 
					float: left
					height: 60px
					width: 350px
					font-size: 48px
					font-family: $fonts-Comfortaa
					font-weight: 200
					color: $color-brown
					border-top-left-radius: 10px
					border-bottom-left-radius: 10px

				.subscriptionButton 
					height: 60px
					width: 100px
					border-top-right-radius: 10px
					border-bottom-right-radius: 10px
					background-color: $color-greenButton
					border: none
					text-align: center
					text-decoration: none

					.fas 
						color: $color-white

.downloadIt
	background-color: $color-grayBackground
	padding-top: 75px
	padding-bottom: 75px

	.container
		display: flex
		flex-direction: column

		.row
			margin: 0 auto
			display: flex
			flex-direction: row

			h1,
			p
				color: $color-black
				text-transform: uppercase
				font-family: $fonts-Comfortaa

			.downloadSoft
				width: 300px
				height: 50px
				margin: 75px 20px
				background: linear-gradient(to right, #1abc9c 85%, #16a085 85%);
				border-radius: 5px
				border: none
				color: $color-white
				font-family: $fonts-Comfortaa
				display: flex
				align-items: center

				.text
					font-size: 20px
					text-transform: uppercase
					font-weight: bold
					letter-spacing: 2px

footer
	.content
		display: flex
		align-items: center
		height: 150px

	.row
		p
			padding: 0px 10px
			color: $color-black
			font-weight: bold
			letter-spacing: 2px

			a
				color: $color-black
				text-transform: uppercase

		span
			color: $color-greenButton
			font-weight: bolder

	.section
		display: flex
		flex-direction: row

